* {
	box-sizing: border-box;
	
	--van-type-simple: rgb(224, 131, 24);
	--van-type-luxury: black;
	--van-type-rugged: rgb(46, 109, 70);

	--horizontal-margin: 32px;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	background-color: #fff7ed;
}

.title {
	margin: 12px var(--horizontal-margin);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	background-color: rgb(245, 231, 215);
}

.nav--title {
	font-size: 1.4rem;
	font-weight: 900;
	margin-left: 0;
	margin-right: auto;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.nav--item {
	text-decoration: none;
	color: #555;
	font-weight: 500;
	margin: 8px 20px;
	cursor: pointer;
}

.nav--item:hover, .nav--item.active {
	text-decoration: underline;
	color: black;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	color: #ccc;
	margin-top: auto;
	background-color: rgb(51, 48, 45);
}

.home {
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/home-hero.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 64px var(--horizontal-margin);
}

.home--title {
	color: white;
}

.home--text {
	color: #ddd;
	margin: 6px 0;
}

.home--button {
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: rgb(245, 145, 31);
	color: white;
	font-weight: bold;
	line-height: 1.4rem;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 20px 0;
	font-size: 1rem;
}

.about--image {
	width: 100%;
}

.about--text {
	margin: 16px var(--horizontal-margin);
	color: #222;
}

.about--button {
	display: inline-block;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 20px;
}

.alert {
	padding: 32px;
	background-color: rgb(255, 205, 148);
	color: #222;
	border-radius: 8px;
	margin: 64px var(--horizontal-margin);
	font-weight: bold;
	font-size: 1.4rem;
}

.alert > p {
	margin: 0;
}

.vans {
	margin: var(--horizontal-margin);
}

.vans--filters {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

.vans--filter {
	background-color: rgb(245, 231, 215);
	text-align: center;
	padding: 6px 32px;
	margin-right: 16px;
	border-radius: 8px;
	color: #333;
	cursor: pointer;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
}

.vans--filter.simple.van--filter-selected, .vans--filter.simple:hover, .vans--type.simple {
	background-color: var(--van-type-simple);
	color: white;
}

.vans--filter.luxury.van--filter-selected, .vans--filter.luxury:hover, .vans--type.luxury {
	background-color: var(--van-type-luxury);
	color: white;
}

.vans--filter.rugged.van--filter-selected, .vans--filter.rugged:hover, .vans--type.rugged {
	background-color: var(--van-type-rugged);
	color: white;
}

.vans--list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
}

.vans--item {
	text-decoration: none;
	color: black;
}

.vans--item > h3 {
	margin-top: 0;
	margin-bottom: 8px;
}

.vans--item > p {
	margin-top: 0;
}

.vans--image {
	max-width: 100%;
	max-height: 100%;
	border-radius: 8px;
}

.vans--type {
	border-radius: 6px;
	text-align: center;
	display: inline-block;
	padding: 6px 24px;
}

.vans--filter-clean {
	text-decoration: underline;
	color: #444;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1rem;
}

.van-details {
	margin: var(--horizontal-margin);
}

.back {
	display: block;
	color: black;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1rem;
}

.back-arrow {
	margin-right: 8px;
}

.van-details--image {
	width: 100%;
	border-radius: 8px;
	margin: 32px 0;
}

.van-details--title {
	margin-top: 0;
	margin-bottom: 8px;
}

.van-details--price-text {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 1.2rem;
}

.van-details--price {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 1.4rem;
	font-weight: bold;
}

.van-details--rent {
	display: inline-block;
	background-color: rgb(245, 145, 31);
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 20px;
	width: 100%;
}

.host-nav {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.host-nav--item {
	text-decoration: none;
	color: #555;
	font-weight: 500;
	margin: 8px 20px;
	cursor: pointer;
}

.host-nav--item:hover, .host-nav--item.active {
	text-decoration: underline;
	color: black;
}

.host-vans--list {
	margin: 16px var(--horizontal-margin);
	margin-top: 0;
}

.host-vans--item {
	display: flex;
	align-items: center;
	padding: 16px;
	border-radius: 8px;
	background-color: white;
	margin-bottom: 16px;
	text-decoration: none;
	color: black;
}

.host-vans--text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.host-vans--text > * {
	margin: 8px;
}

.host-vans--image {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	margin-right: 16px;
}

.host-van-details {
	margin: 16px var(--horizontal-margin);
}

.host-van-details--content {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 8px;
	padding: 24px;
}

.host-van-details--header {
	display: flex;
	flex-direction: row;
	margin-top: 0;
	margin-bottom: 24px;
}

.host-van-details--image {
	width: 180px;
	border-radius: 8px;
}

.host-van-details--text {
	margin-left: 16px;
}

.host-van-details--price {
	font-size: 1.2rem;
}

.host-van-details--nav-item {
	margin-right: 24px;
	color: #555;
	text-decoration: none;
}

.host-van-details--nav-item:hover, .host-van-details--nav-item.active {
	text-decoration: underline;
	color: black;
}

.host-van-details--inner {
	margin-top: 16px;
	font-size: 0.9rem;
	font-weight: 500;
}

.host-van-pricing {
	font-size: 1.5rem;
	font-weight: 600;
	color: black;
}

.host-van-pricing-text {
	color: #555;
}

.host-van-details-photos--image {
	width: 100px;
	border-radius: 6px;
	margin-top: 16px;
}